# Timezone
TZ=Asia/Tokyo

# AtCoder credentials
ATCODER_REVEL_SESSION="a9fad62987f1ebf0abff9cca7db7b71ab9694e96-%00csrf_token%3AZVjCRrU2BIayiSCm9Pmq4uc4vfh0UD6Fvz5%2BezcXOwM%3D%00%00_TS%3A1786949714%00%00SessionKey%3A5e06ee7734246e40dd87139fe5429cdec4a2a63a9ce5f2d37de51f1c35725ac6%00%00UserScreenName%3AshonNMIXX%00%00UserName%3AshonNMIXX%00%00a%3Afalse%00%00w%3Afalse%00"

# Yukicoder API key(optional)
YUKICODER_API_KEY=

# Uncomment this line if you want to enable Rust backtrace for debugging
# RUST_BACKTRACE=1
